/*-- -------------------------- -->
<---            Top             -->
<--- -------------------------- -*/

main {
    position: relative;
}

main:before {
    content: '';
    position: absolute;
    background-color: #304b78;
    height: 150px;
    width: 100%;
    bottom: -80px;
    z-index: -1;
}

.contact-top{
    height: auto;
    background: url("/images/contact-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    max-width: 490px;
    margin: auto;
    position: relative;
}

.contact-top{
    height: 500px;
}

.letter {
    width: 220px;
    margin: auto;
    padding-top: 90px;
}

.greeting {
    display: block;
    margin-bottom: 20px;
    font-family: 'Satisfy', cursive;
}

.letter p {
    text-align: center;
    font-size: .6em;
    color: #fff;
}

.first-p {
    opacity: .6;
}

.letter span {
    color: #fff;
}

.signature {
    margin-top: 20px;
}

.signature p {
    text-align: left;
    width: 121px;
    margin: 0;
    margin-left: auto;
}
.signature p:first-child {
    font-size: .4em !important;
    color: rgba(172, 183, 201, 1);
}

.signature p:last-child {
    font-family: 'Satisfy', cursive;
}

.contact-toph2 {
    position: absolute;
    display: block;
    font-size: 1em;
    bottom: 56px;
    margin: auto;
    width: 180px;
    text-align: center;
    color: #2D325A;
    padding-bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-weight: bold;
}

/*-- -------------------------- -->
<---           Bottom           -->
<--- -------------------------- -*/

.bottom {
    position: relative;
    background: #304b78;
    padding-bottom: 100px;
}

.left-pillar {
    height: 150px;
    width: 900px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 90px)
               rotate(45deg);
        -ms-transform: translate(-50%, 90px)
               rotate(45deg);
            transform: translate(-50%, 90px)
               rotate(45deg);
    background: #304b78;
}

.left-pillar:before {
    content: '';
    background: #2D325A;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
}

.right-pillar {
    height: 150px;
    width: 900px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 90px)
               rotate(-45deg);
        -ms-transform: translate(-50%, 90px)
               rotate(-45deg);
            transform: translate(-50%, 90px)
               rotate(-45deg);
    background: #304b78;
}

.right-pillar:before {
    content: '';
    background: #2D325A;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
}

.three-triangles, .form, .contact-social {
    position: relative;
    z-index: 100;
}

.three-triangles {
    width: 170px;
    height: 170px;
    margin: auto;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -85px;
}

.square {
    display: inline-block;
    width: 47%;
    height: 47%;
    background: #DBB13B;
    float: left;
    position: relative;
}

.square:nth-child(1) {
    margin-right: 5px;
    margin-bottom: 5px;
}

.square:nth-child(2) {
    margin-left: 5px;
    margin-bottom: 5px;
    background: transparent;
}

.square:nth-child(3) {
    margin-top: 5px;
    margin-right: 5px;
}

.square:nth-child(4) {
    margin-left: 5px;
    margin-top: 5px;
}

.square a {
    font-size: .8em;
}

.square a, .square h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    text-align: center;
    font-weight: bold;
    color: #2D325A;
}

.square h2 {
    font-size: 1.3em;
    width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-45%, -90%) rotate(45deg);
        -ms-transform: translate(-45%, -90%) rotate(45deg);
            transform: translate(-45%, -90%) rotate(45deg);
}

/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/

form h3 {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 30px;
    color: #fff !important;
}

.form h3:first-child span {
    color: #fff !important;
}

form h3 strong {
    opacity: 1;
    color: #fff;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
    border: none;
}

form button[type="submit"] {
    background: #2D325A;
    border: none;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

/*-- -------------------------- -->
<---           Social           -->
<--- -------------------------- -*/

.contact-social {
    position: relative;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #2D325A;
    width: 220px;
    height: 220px;
    margin: auto;
}

.seeking {
    color: #DBB13B;
    font-size: 1.3em;
    width: 300px;
    margin: auto;
    margin-bottom: 100px;
}

.seeking span {
    color: #DBB13B;
    font-weight: bold;
}

.social-square {
    position: absolute;
    margin: auto;
    width: 220px;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

.clover {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -180px);
        -ms-transform: translate(-50%, -180px);
            transform: translate(-50%, -180px);
}

.social-button-group img {
    width: 30px;
}

.social-square h3,
.social-square p {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff;
}

.social-square h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid #DBB13B;
    width: 150px;
    padding-bottom: 10px;
}

.social-square p {
    opacity: .6;
    margin-bottom: 15px;
}

.social-button-group {
    width: 90px;
    height: 30px;
    margin: auto;
    position: relative;
}

.social-button-group a {
    position: absolute;
}

.social-button-group a:last-child {
    right: 0;
}

footer {
    border: none;
}

form span {
        color: #fff !important;
    }

@media screen and (min-width: 680px) {

    .form {
        position: relative;
    }

    .form:before {
        content: '';
        position: absolute;
        left: -110px;
        top: 70px;
        height: 170px;
        width: 170px;
        background: #56BCA2;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .form:after {
        content: '';
        position: absolute;
        right: -110px;
        top: 70px;
        height: 170px;
        width: 170px;
        background: #56BCA2;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

}

/* Step 1 */
@media screen and (min-width: 457px) and (max-width: 767px) {

    .contact-top{
        height: 800px;
        max-width: 700px;
    }

    .letter {
        padding-top: 140px;
        width: 280px;
        padding-top: 170px;
    }

    .greeting {
        font-size: 25px;
    }

    .letter p {
        font-size: .8em;
    }

    .signature p {
        width: 160px;
    }

    .signature p:last-child {
        font-size: 22px;
        width: 160px;
    }

    .left-pillar, .right-pillar {
        width: 1400px;
        height: 300px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 130px)
                rotate(45deg);
            -ms-transform: translate(-50%, 130px)
                rotate(45deg);
                transform: translate(-50%, 130px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 130px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 130px)
                rotate(-45deg);
                transform: translate(-50%, 130px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 310px;
    }

    .square a, .square h3 {
        font-size: .5em;
    }

    .square h3 {
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%);
    }


    form h3 {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .form h3:first-child span {
        display: block;
        color: #fff;
    }

    .form h3:first-child strong {
        color: #fff;
    }

    .contact-toph2 {
        bottom: 80px;
    }

    .contact-toph2:after {
        content: '';
        position: absolute;
        width: 70px;
        height: 1px;
        background: #DBB13B;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .seeking {
        width: 250px;
    }

    .social-square h3 {
        font-size: 1.2em;
        width: 90px;
    }

    .social-button-group {
        width: 110px;
    }

    .social-button-group a:first-child {
        left: -10px;
    }

}

/* Step 2 */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .contact-top{
        height: 800px;
        max-width: 700px;
    }

    #contact-form {
        position: relative;
    }

    #contact-form:before {
        content: '';
        position: absolute;
        left: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    #contact-form:after {
        content: '';
        position: absolute;
        right: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .letter {
        padding-top: 140px;
        width: 280px;
        padding-top: 170px;
    }

    .letter p {
        font-size: .8em;
    }

    .greeting {
        font-size: 25px;
    }

    .signature p {
        width: 160px;
    }

    .signature p:last-child {
        font-size: 22px;
        width: 160px;
    }

    .left-pillar, .right-pillar {
        width: 1700px;
        height: 300px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 130px)
                rotate(45deg);
            -ms-transform: translate(-50%, 130px)
                rotate(45deg);
                transform: translate(-50%, 130px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 130px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 130px)
                rotate(-45deg);
                transform: translate(-50%, 130px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 410px;
        height: 400px;
    }

    .square a, .square h3 {
        font-size: .5em;
    }

    .square h3 {
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%);
    }


    form h3 {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .form h3:first-child span {
        display: block;
        color: #fff;
    }

    .form h3:first-child strong {
        color: #fff;
    }

    .contact-toph2 {
        bottom: 80px;
    }

    .contact-toph2:after {
        content: '';
        position: absolute;
        width: 70px;
        height: 1px;
        background: #DBB13B;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .seeking {
        width: 250px;
    }

    .social-square h3 {
        font-size: 1.2em;
        width: 90px;
    }

    .social-button-group {
        width: 110px;
    }

    .social-button-group a:first-child {
        left: -10px;
    }

}

/* Step 3 */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    #contact-form {
        position: relative;
        padding-top: 0;
        min-height: 1000px;
    }

    #contact-form:before {
        content: '';
        position: absolute;
        left: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    #contact-form:after {
        content: '';
        position: absolute;
        right: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .contact-top{
        height: 900px;
        max-width: 900px;
    }

    .letter {
        padding-top: 140px;
        width: 350px;
        padding-top: 140px;
    }

    .greeting {
        font-size: 25px;
    }

    .signature p {
        width: 160px;
    }

    .signature p:last-child {
        font-size: 22px;
        width: 160px;
    }

    .letter p {
        font-size: 1em;
    }

    .letter p strong {
        font-weight: normal;
    }

    .letter p span {
        display: block;
        margin: auto;
    }

    .signature {
        margin-top: 50px;
    }

    .signature p:first-child {
        color: rgba(172, 183, 201, 1);
        font-size: .7em !important;
        margin-right: 8px;
    }

    .signature p:last-child {
        font-size: 20px;
    }

    .left-pillar, .right-pillar {
        width: 2200px;
        height: 400px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 170px)
                rotate(45deg);
            -ms-transform: translate(-50%, 170px)
                rotate(45deg);
                transform: translate(-50%, 170px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 170px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 170px)
                rotate(-45deg);
                transform: translate(-50%, 170px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 570px;
        height: 500px;
    }

    .three-triangles {
        width: 300px;
        height: 300px;
        top: -150px;
    }

    .square {
        margin: 20px;
        width: 40%;
        height: 40%;
    }

    .square a, .square h3 {
        font-size: .8em;
    }

    .square h3 {
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%);
    }

    .form {
        max-width: 100%;
    }

    form h3 {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .form h3:first-child span {
        display: block;
        color: #fff;
    }

    .form h3:first-child strong {
        color: #fff;
    }

    .form:before {
        left: -120px;
        height: 200px;
        width: 200px;
        top: 50px;
    }

    .form:after {
        right: -120px;
        height: 200px;
        width: 200px;
        top: 50px;
    }

    .contact-toph2 {
        bottom: 100px;
    }

    .contact-toph2:after {
        content: '';
        position: absolute;
        width: 70px;
        height: 1px;
        background: #DBB13B;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .seeking {
        width: 250px;
    }

    .social-square h3 {
        font-size: 1.2em;
        width: 90px;
    }

    .social-button-group {
        width: 110px;
    }

    .social-button-group a:first-child {
        left: -10px;
    }

}

/* Step 4 */
@media screen and (min-width: 1200px) {

    .seeking {
        margin-top: 50px;
    }

    #contact-form {
        position: relative;
        padding-top: 0;
    }

    #contact-form:before {
        content: '';
        position: absolute;
        left: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    #contact-form:after {
        content: '';
        position: absolute;
        right: -140px;
        top: 230px;
        height: 170px;
        width: 170px;
        background: #DBB13B;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .contact-top{
        height: 900px;
        max-width: 900px;
    }

    .contact-toph2 {
        width: 195px;
    }

    .letter {
        padding-top: 140px;
        width: 350px;
        padding-top: 140px;
    }

    .greeting {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .greeting {
        font-size: 25px;
    }

    .signature p {
        width: 160px;
    }

    .signature p:last-child {
        font-size: 22px;
        width: 160px;
    }

    .letter p {
        font-size: 1em;
    }

    .letter p strong {
        font-weight: normal;
    }

    .letter p span {
        display: block;
        margin: auto;
    }

    .signature {
        margin-top: 50px;
    }

    .signature p {
        width: 150px;
    }

    .signature p:first-child {
        color: rgba(172, 183, 201, 1);
        font-size: .6em;
    }

    .signature p:last-child {
        font-size: 20px;
    }

    .left-pillar, .right-pillar {
        width: 2600px;
        height: 400px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 200px)
                rotate(45deg);
            -ms-transform: translate(-50%, 200px)
                rotate(45deg);
                transform: translate(-50%, 200px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 200px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 200px)
                rotate(-45deg);
                transform: translate(-50%, 200px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 670px;
        height: 600px;
    }

    .three-triangles {
        width: 300px;
        height: 300px;
        top: -150px;
    }

    .three-triangles a:hover {
        cursor: default;
    }

    .square {
        margin: 20px;
        width: 40%;
        height: 40%;
    }

    .square a, .square h3 {
        font-size: .8em;
        font-weight: 500;
    }

    .square h3 {
        -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
                transform: translateY(-30%);
    }

    form h3 {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .form h3:first-child span {
        display: block;
        color: #fff;
    }

    .form h3:first-child strong {
        color: #fff;
    }

    .form {
        max-width: 100%;
    }

    #contact-form:before {
        left: -50px;
        height: 100px;
        width: 100px;
        top: 150px;
        z-index: 1000;
    }

    #contact-form:after {
        right: -50px;
        height: 100px;
        width: 100px;
        top: 150px;
        z-index: 10000;
    }

    .contact-toph2 {
        bottom: 100px;
    }

    .contact-toph2:after {
        content: '';
        position: absolute;
        width: 70px;
        height: 1px;
        background: #DBB13B;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .seeking {
        width: 370px;
        font-size: 30px;
    }

    form span {
        color: #fff !important;
    }

    .social-square h3 {
        font-size: 1.2em;
        width: 90px;
        margin-bottom: 10px;
    }

    .social-button-group {
        width: 90px;
    }

    .social-button-group a:first-child {
        left: -10px;
    }

    form button[type="submit"] {
        margin-bottom: 0;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 15px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
    }
    :-ms-input-placeholder { /* IE 10+ */
    font-size: 15px;
    }
    :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    }

    .clover {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -180px);
    -ms-transform: translate(-50%, -180px);
    transform: translate(-50%, -173px);
}

}

/* Step 5 */
@media screen and (min-width: 1300px) {

    footer {
        padding-top: 80px;
    }

    .bottom {
        padding-bottom: 200px;
    }

    .seeking {
        margin-top: 50px;
    }

}

/* Step 5 */
@media screen and (min-width: 1442px) {

    #contact-form {
        padding-top: 0;
    }

    .left-pillar, .right-pillar {
        width: 2800px;
        height: 300px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 200px)
                rotate(45deg);
            -ms-transform: translate(-50%, 200px)
                rotate(45deg);
                transform: translate(-50%, 200px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 200px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 200px)
                rotate(-45deg);
                transform: translate(-50%, 200px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 770px;
        height: 600px;
    }

}

/* Step 6 */
@media screen and (min-width: 1526px) {

    .contact-top{
        height: 1300px;
        max-width: 1100px;
    }

    #contact-form:before, #contact-form:after {
        top: 350px;
    }

    .letter {
        padding-top: 273px;
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3);
    }

    #contact-form {
        padding-top: 0;
    }

    .left-pillar, .right-pillar {
        width: 3600px;
        height: 700px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(45deg);
                transform: translate(-50%, 290px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(-45deg);
                transform: translate(-50%, 290px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 900px;
        height: 1100px;
    }

    .three-triangles {
        width: 415px;
        height: 415px;
        top: -214px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 30px;
    }

    .square a {
        font-size: 1.5em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 170px;
    }

    form {
        -webkit-transform: translateY(-72px);
            -ms-transform: translateY(-72px);
                transform: translateY(-72px);
    }

    form h3 {
        font-size: 1.3em;
        width: 450px;
        margin-bottom: 23px;
    }

    .form:before, .form:after {
        top: 0;
    }

    .signature p:first-child {
        font-size: 0.7em !important;
        color: rgba(172, 183, 201, 1);
        margin-right: 20px;
    }

    .seeking {
        margin-top: 4px;
    }

}

/* Step 7 */
@media screen and (min-width: 1765px) {

    .contact-top{
        height: 1500px;
        max-width: 1300px;
    }

    .greeting {
        font-size: 30px;
    }

    .letter {
        padding-top: 350px;
        width: 400px;
    }

    .letter p {
        font-size: 1.1em;
    }

    .signature p {
        width: 200px;
    }

    .signature p:last-child {
        font-size: 27px;
        width: 200px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form:before, #contact-form:after {
        top: 350px;
    }

    .left-pillar, .right-pillar {
        width: 3600px;
        height: 700px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(45deg);
                transform: translate(-50%, 290px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(-45deg);
                transform: translate(-50%, 290px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 800px;
        height: 900px;
    }

    .three-triangles {
        width: 415px;
        height: 415px;
        top: -214px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 30px;
    }

    .square a {
        font-size: 1.5em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 170px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    .signature p:first-child {
        margin-right: 0;
    }

}

/* Step 8 */
@media screen and (min-width: 2050px) {

    .contact-top{
        height: 1500px;
        max-width: 1300px;
    }

    .greeting {
        font-size: 30px;
    }

    .letter {
        padding-top: 350px;
        width: 400px;
    }

    .letter p {
        font-size: 1.1em;
    }

    .signature p {
        width: 200px;
    }

    .signature p:last-child {
        font-size: 27px;
        width: 200px;
    }

    #contact-form {
        padding-top: 0;
    }

    .left-pillar, .right-pillar {
        width: 4100px;
        height: 700px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(45deg);
                transform: translate(-50%, 290px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(-45deg);
                transform: translate(-50%, 290px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1000px;
        height: 900px;
    }

    .three-triangles {
        width: 415px;
        height: 415px;
        top: -213px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 30px;
    }

    .square a {
        font-size: 1.5em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 170px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

}

/* Step 9 */
@media screen and (min-width: 2300px) {

    .contact-top{
        height: 1900px;
        max-width: 1700px;
    }

    .greeting {
        font-size: 30px;
    }

    .letter {
        padding-top: 418px;
        width: 470px;
    }

    .letter p {
        font-size: 1.3em;
    }

    .signature p {
        width: 200px;
    }

    .signature p:last-child {
        font-size: 27px;
        width: 200px;
    }

    #contact-form {
        padding-top: 0;
    }

    .left-pillar, .right-pillar {
        width: 4800px;
        height: 900px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(45deg);
                transform: translate(-50%, 290px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(-45deg);
                transform: translate(-50%, 290px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1000px;
        height: 1000px;
    }

    .three-triangles {
        width: 415px;
        height: 415px;
        top: -213px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 30px;
    }

    .square a {
        font-size: 1.5em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

}

/* Step 9 */
@media screen and (min-width: 2550px) {

    .contact-top{
        height: 1900px;
        max-width: 1700px;
    }

    .greeting {
        font-size: 30px;
    }

    .letter {
        padding-top: 450px;
        width: 470px;
    }

    .letter p {
        font-size: 1.3em;
    }

    .signature p {
        width: 200px;
    }

    .signature p:last-child {
        font-size: 27px;
        width: 200px;
    }

    #contact-form {
        padding-top: 0;
    }

    .left-pillar, .right-pillar {
        width: 5200px;
        height: 1000px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(45deg);
                transform: translate(-50%, 290px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 290px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 290px)
                rotate(-45deg);
                transform: translate(-50%, 290px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1300px;
        height: 1300px;
    }

    .three-triangles {
        width: 415px;
        height: 415px;
        top: -213px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 30px;
    }

    .square a {
        font-size: 1.5em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

}

/* Step 10 */
@media screen and (min-width: 2750px) {

    .contact-top{
        height: 2100px;
        max-width: 1900px;
    }

    .greeting {
        font-size: 50px;
    }

    .letter {
        padding-top: 450px;
        width: 750px;
    }

    .letter p {
        font-size: 2em;
    }

    .signature p {
        width: 310px;
    }

    .signature p:last-child {
        font-size: 45px;
        width: 310px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form:before, #contact-form:after {
        width: 200px;
        height: 200px;
    }

    #contact-form:before {
        left: -100px;
    }

    #contact-form:after {
        right: -100px;
    }

    .left-pillar, .right-pillar {
        width: 5200px;
        height: 1000px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 350px)
                rotate(45deg);
            -ms-transform: translate(-50%, 350px)
                rotate(45deg);
                transform: translate(-50%, 350px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 350px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 350px)
                rotate(-45deg);
                transform: translate(-50%, 350px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1300px;
        height: 1300px;
    }

    .three-triangles {
        width: 555px;
        height: 555px;
        top: -295px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 46px;
    }

    .square a {
        font-size: 1.8em;
    }

    .contact-toph2 {
        font-size: 2em;
        width: 350px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    .form:before, .form:after {
        height: 200px;
        width: 200px;
    }

    form h3 {
        font-size: 1.5em;
        width: 550px;
    }

    .seeking {
        font-size: 1.5em;
        width: 280px;
    }

}

/* Step 11 */
@media screen and (min-width: 2950px) {

    .contact-top{
        height: 2200px;
        max-width: 2100px;
    }

    .greeting {
        font-size: 50px;
    }

    .letter {
        padding-top: 550px;
        width: 750px;
    }

    .letter p {
        font-size: 2em;
    }

    .signature p {
        width: 310px;
    }

    .signature p:last-child {
        font-size: 45px;
        width: 310px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form:before, #contact-form:after {
        width: 200px;
        height: 200px;
    }

    #contact-form:before {
        left: -100px;
    }

    #contact-form:after {
        right: -100px;
    }

    .left-pillar, .right-pillar {
        width: 5600px;
        height: 1000px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(45deg);
                transform: translate(-50%, 370px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(-45deg);
                transform: translate(-50%, 370px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1300px;
        height: 1300px;
    }

    .three-triangles {
        width: 555px;
        height: 555px;
        top: -295px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 46px;
    }

    .square a {
        font-size: 1.9em;
    }

    .contact-toph2 {
        font-size: 2.5em;
        width: 450px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    form h3 {
        font-size: 1.5em;
        width: 550px;
    }

    .form:before, .form:after {
        height: 200px;
        width: 200px;
    }

    .seeking {
        font-size: 1.5em;
        width: 280px;
    }

}

/* Step 12 */
@media screen and (min-width: 3250px) {

    .contact-top{
        height: 2200px;
        max-width: 2200px;
    }

    .greeting {
        font-size: 50px;
    }

    .letter {
        padding-top: 550px;
        width: 750px;
    }

    .letter p {
        font-size: 2em;
    }

    .signature p {
        width: 310px;
    }

    .signature p:last-child {
        font-size: 45px;
        width: 310px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form:before, #contact-form:after {
        width: 200px;
        height: 200px;
    }

    #contact-form:before {
        left: -100px;
    }

    #contact-form:after {
        right: -100px;
    }

    .left-pillar, .right-pillar {
        width: 6000px;
        height: 1000px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(45deg);
                transform: translate(-50%, 370px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(-45deg);
                transform: translate(-50%, 370px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1500px;
        height: 1500px;
    }

    .three-triangles {
        width: 555px;
        height: 555px;
        top: -295px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 46px;
    }

    .square a {
        font-size: 1.9em;
    }

    .contact-toph2 {
        font-size: 2.5em;
        width: 450px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    form h3 {
        font-size: 1.5em;
        width: 550px;
    }

    .form:before, .form:after {
        height: 200px;
        width: 200px;
    }

    .seeking {
        font-size: 1.5em;
        width: 280px;
    }

}

/* Step 13 */
@media screen and (min-width: 3530px) {

    .contact-top{
        height: 2400px;
        max-width: 2400px;
    }

    .greeting {
        font-size: 50px;
    }

    .letter {
        padding-top: 550px;
        width: 750px;
    }

    .letter p {
        font-size: 2em;
    }

    .signature p {
        width: 310px;
    }

    .signature p:last-child {
        font-size: 45px;
        width: 310px;
    }

    #contact-form {
        padding-top: 0;
    }

    #contact-form:before, #contact-form:after {
        width: 200px;
        height: 200px;
    }

    #contact-form:before {
        left: -100px;
    }

    #contact-form:after {
        right: -100px;
    }

    .left-pillar, .right-pillar {
        width: 6400px;
        height: 1000px;
    }

    .left-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(45deg);
                transform: translate(-50%, 370px)
                rotate(45deg);
    }

    .right-pillar {
        -webkit-transform: translate(-50%, 370px)
                rotate(-45deg);
            -ms-transform: translate(-50%, 370px)
                rotate(-45deg);
                transform: translate(-50%, 370px)
                rotate(-45deg);
    }

    .left-pillar:before, .right-pillar:before {
        width: 1500px;
        height: 1500px;
    }

    .three-triangles {
        width: 555px;
        height: 555px;
        top: -295px;
    }

    .square {
        margin: 20px;
        width: 43%;
        height: 43%;
    }

    .square:nth-child(1), .square:nth-child(2) {
        margin-top: 46px;
    }

    .square a {
        font-size: 1.9em;
    }

    .contact-toph2 {
        font-size: 2.5em;
        width: 450px;
        bottom: 220px;
    }

    .contact-toph2:after {
        height: 2px;
        width: 150px;
        bottom: -25px;
    }

    form {
        -webkit-transform: translateY(-60px);
            -ms-transform: translateY(-60px);
                transform: translateY(-60px);
    }

    form h3 {
        font-size: 1.5em;
        width: 550px;
    }

    .form:before, .form:after {
        height: 200px;
        width: 200px;
    }

    .seeking {
        font-size: 1.5em;
        width: 280px;
    }

}