/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

#landing {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 350px;
    position: relative;
}

.landing-left {
    position: relative;
}

#landing h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 50px;
    margin-bottom: 15px;
    color: var(--primary);
    text-decoration: none;
    position: relative;
    max-width: 226px;
}

#landing h2 {
    text-align: left;
    font-size: 12px;
    margin-bottom: 35px;
    color: var(--primary);
    font-weight: 400;
    width: 220px;
}

.landing-button {
    background: var(--secondary);
    font-size: 14px;
    color: var(--dark);
    padding: 0 10px;
    width: 150px;
    position: relative;
    border: 5px;
}

.landing-right {
    background: var(--light);
    width: 250px;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

.landing-right:before {
    content: '';
    position: absolute;
    height: 290px;
    width: 290px;
    background: url("/images/wood-BIRCH-silver.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: .9;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    z-index: -2;
}

.landing-right:after {
    content: url("/images/landing-background.svg");
    position: absolute;
    bottom: -1800px;
    height: auto;
    width: 170%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -4;
}

.image-container:after {
    content: '';
    position: absolute;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    border: 4px solid var(--secondary);
    z-index: 10;
}

.image-container {
    position: relative;
    z-index: 20;
    height: 167px;
}

.landing-right img {
    width: 250px;
    position: relative;
}

.golden-box {
    position: absolute;
    height: 200px;
    width: 230px;
    background: var(--secondary);
    opacity: .5;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%)
              translateY(4px);
        -ms-transform:translate(-50%, -50%)
              translateY(4px);
            transform:translate(-50%, -50%)
              translateY(4px);
    z-index: -1;
}

/*-- -------------------------- -->
<---       Mental Health        -->
<--- -------------------------- -*/

#mental-health {
    overflow: visible !important;
    background-color: var(--primary);
    height: 140px;
}

.mental-health {
    -webkit-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
            transform: translateY(-400px);
    position: relative;
    z-index: 100000;
}

.card-container {
    padding: 17px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 11px #0000001A;
            box-shadow: 0px 0px 11px #0000001A;
    border-radius: 10px;
    background-color: #fff;
    max-width: 300px;
    margin: auto;
}

.mental-health h2 {
    font: normal normal normal 14px/16px Fira Sans;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    text-align: center;
    width: 182px;
    margin: auto;
    font-weight: 600;
    margin-bottom: 42px;
    position: relative;
}

.mental-health h2 span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
}

.mental-health h2 span:first-child {
    left: -25px;
    -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
}

.mental-health h2 span:last-child {
    right: -25px;
}

.mental-health h2 span img {
    width: 15px;
}

.card {
    margin-bottom: 30px;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: var(--primary);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 12px;
    letter-spacing: 0.36px;
    color: #2D325A;
    width: 188px;
    font-weight: 400;
    margin: auto;
}

.mental-health-button {
    font-size: 14px;
    width: 260px;
    display: block;
    margin: auto;
    padding: 0;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
}

/*-- -------------------------- -->
<---         Struggles          -->
<--- -------------------------- -*/

#struggles {
    background: var(--primary);
    position: relative;
    height: 620px;
    overflow: visible !important;
    margin-bottom: 250px;
}

#struggles:before {
    content: '';
    position: absolute;
    height: 400px;
    width: 400px;
    background: var(--primary);
    bottom: -210px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

#struggles:after {
    content: '';
    background: var(--primary);
    height: 100px;
    width: 120%;
    position: absolute;
    top: -50px;
}

.slide {
    max-width: 300px;
    margin: auto;
}

.struggle-picture {
    height: 137px;
    width: 100%;
    background: url("/images/Homepage_Struggling\ with.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide h2 {
    color: #fff;
    text-align: left;
    opacity: .8;
    font-size: 16px;
    margin-top: 17px;
}

.line {
    height: 1px;
    width: 100%;
    background: var(--secondary);
    margin: 10px auto 12px auto;
    width: 240px;
}

.slide ul li {
    color: #fff;
    opacity: .7;
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 1.7em;
    margin-bottom: 5px;
}

.slide h2, .slide ul {
    padding: 0 20px;
    margin-bottom: 20px;
}

.slide ul {
    padding-left: 40px;
}

/*-- -------------------------- -->
<---          Seeking           -->
<--- -------------------------- -*/

.seeking-container {
    padding: 0 10px;
}

.slide-2-container .slide {
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 11px #0000001A;
            box-shadow: 0px 0px 11px #0000001A;
    border-radius: 10px;
}

.seeking-picture {
    height: 137px;
    width: 100%;
    background: url("/images/epic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-2-container .slide h2, .slide-2-container .slide ul li {
    color: var(--primary);
}

.slide-2-container .slide h2 {
    text-align: left;
    opacity: .8;
    font-size: 16px;
    margin-top: 17px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 10px;
}

.slide-2-container .slide ul {
    padding-left: 30px;
    padding-right: 26px;
}

.slide-2-container .slide ul li {
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 1.7em;
    margin-bottom: 5px;
    font-weight: 600;
}

/*-- -------------------------- -->
<---         Potential          -->
<--- -------------------------- -*/

.clover {
    width: 25px;
    display: block;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 50px;
}

#potential h2 {
    color: var(--tertiary);
    font-size: 14px;
    font-weight: 700;
    width: 202px;
    margin: auto;
    margin-bottom: 64px;
}

.potential-content-container .left {
    background: #fff;
    -webkit-box-shadow: 0px 0px 11px #0000001A;
            box-shadow: 0px 0px 11px #0000001A;
    border-radius: 5px;
    padding: 20px 30px 27px 30px;
    margin: auto;
    margin-bottom: 74px;
    position: relative;
    max-width: 300px;
}

.potential-content-container .left:before {
    content: '';
    position: absolute;
    height: 700px;
    width: 700px;
    background: var(--light);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 120px) rotate(45deg);
        -ms-transform: translate(-50%, 120px) rotate(45deg);
            transform: translate(-50%, 120px) rotate(45deg);
    z-index: -1;
}

.potential-content-container .left:after {
    content: '';
    position: absolute;
    height: 700px;
    width: 700px;
    background: var(--accent);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50px) rotate(45deg);
        -ms-transform: translate(-50%, -50px) rotate(45deg);
            transform: translate(-50%, -50px) rotate(45deg);
    z-index: -2;
}

.potential-content-container .left > h3 {
    font-size: 16px;
    color: var(--primary);
    margin: auto;
    width: 202px;
    font-weight: bold;
}

.potential-line {
    width: 100%;
    height: 1px;
    background: var(--secondary);
    margin-top: 10px;
    margin-bottom: 30px;
}

.potential-group h3 {
    font-size: 12px;
    margin: auto;
    margin-bottom: 30px;
}

.potential-group:last-child h3 {
    margin-bottom: 0;
    width: 148px;
}

.right h3, .right h3 span {
    width: 178px;
    color: #fff;
    font-size: 16px;
    margin: auto;
    position: relative;
}

.right h3 {
    line-height: 1.5em;
}

.right h3 span {
    display: block;
}

.right h3:before {
    content: '';
    position: absolute;
    height: 90px;
    width: 90px;
    border: 1px solid var(--secondary);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

.plant {
    display: none;
}

/*-- -------------------------- -->
<---     Victoria Highlight     -->
<--- -------------------------- -*/

#victoria-highlight {
    background: var(--light);
    position: relative;
    overflow: visible !important;
}

#victoria-highlight:before {
    content: '';
    position: absolute;
    height: 663px;
    width: 663px;
    right: -464px;
    bottom: -450px;
    background: var(--primary);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 2;
}

#victoria-highlight:after {
    content: '';
    position: absolute;
    height: 163px;
    width: 163px;
    right: -104px;
    top: -30px;
    background: var(--secondary);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

#victoria-highlight .container {
    padding: 0;
}

.desktop {
    display: none;
}

.victoria {
    background: url("/images/Homepage_Headshot\ 2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 256px;
    width: 171px;
    position: relative;
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
    margin-bottom: 44px;
}

.victoria:after {
    content: '';
    position: absolute;
    height: 173px;
    width: 173px;
    border: 5px solid var(--secondary);
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -129px) rotate(45deg);
        -ms-transform: translate(-50%, -129px) rotate(45deg);
            transform: translate(-50%, -129px) rotate(45deg);
}

.quote {
    position: absolute;
    padding: 10px 14px;
    background: var(--light);
    width: 240px;
    border-radius: 10px;
    top: 180px;
    right: -36px;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 11px #00000029;
            box-shadow: 0px 3px 11px #00000029;
}

.quote h2 {
    font-size: 16px;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.quote button {
    display: none;
}

.victoria-button {
    position: relative;
    min-width: 120px;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    height: 30px;
    display: block;
    margin: auto;
    z-index: 5;
}

/*-- -------------------------- -->
<---      What You'll Get       -->
<--- -------------------------- -*/

#what-you-get {
    height: 470px;
    background: var(--light);
    padding-bottom: 0 !important;
    overflow: visible !important;
    position: relative;
}

#what-you-get .container {
    position: relative;
    background: #fff;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    z-index: 1000;
    max-width: 300px;
}

.white-clover {
    position: absolute;
    width: 25px;
    top: -13px;
    z-index: 100;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

#what-you-get h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.item-container {
    background: rgba(152, 152, 152, .1);
    padding: 21px 15px;
    border-radius: 5px;
    z-index: 1000;
    position: relative;
}

.got-item {
    padding-left: 64px;
}

.got-item h3 {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.got-item h3:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 220px;
    background: var(--secondary);
    bottom: -11px;
    left: -50px;
}

.span-background {
    position: absolute;
    height: 27px;
    width: 27px;
    background: var(--primary);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -24px;
    left: -50px;
    z-index: 100;
}

.number {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 14px;
}

.got-item:nth-child(2), .got-item:nth-child(3) {
    margin-top: 20px;
}

.got-item ul li {
    font-size: 12px;
    color: var(--primary);
    line-height: 1.7em;
    font-weight: 500;
}

/*-- -------------------------- -->
<---      Crazy Art Things      -->
<--- -------------------------- -*/

#crazy-artsy-thing {
    background: var(--light);
    padding-top: 0px !important;
    overflow: visible !important;
}

.crazy-topper {
    position: relative;
    z-index: 1000;
}

.overflow-hide {
    position: absolute;
    height: 360px;
    width: 450px;
    background: var(--light);
    top: -300px;
    left: -50px;
    z-index: -200;
}

.crazy-topper h2{
    color: #fff;
    font-size: 16px;
}

.crazy-topper .golden-line {
    height: 1px;
    width: 250px;
    margin: 10px auto 22px auto;
    background: var(--secondary);
}

.first-ul {
    margin-bottom: 34px;
}

.first-ul li {
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 1.7em;
    letter-spacing: 0.33px;
    width: auto;
    opacity: .8;
    margin-bottom: 5px;
}

.first-ul li:nth-child(1) {
    width: 245px;
    margin: auto;
}

.first-ul li:nth-child(2) {
    width: 140px;
    margin: auto;
}

.first-ul li:nth-child(3) {
    width: 210px;
    margin: auto;
}

.first-ul li:nth-child(4) {
    width: 135px;
    margin: auto;
}

.first-ul li span {
    display: none;
}

.crazy-topper button {
    position: relative;
    min-width: 120px;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 70px;
}

.crazy-topper button img {
    position: absolute;
    width: 25px;
    left: 50%;
    top:75px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.crazy-topper h3 {
    -webkit-transform: translateY(25px);
        -ms-transform: translateY(25px);
            transform: translateY(25px);
}

.crazy-topper h3, .crazy-topper h3 span {
    color: #fff;
    font-size: 20px;
    width: 192px;
    margin: auto;
    font-weight: 700;
}

.crazy-topper h3 span {
    display: block;
}

/*-- -------------------------- -->
<---       Contact Cards        -->
<--- -------------------------- -*/

#contact-cards {
    background: url("/images/nasa-sea-from-space-1920H.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
    overflow: visible !important;
    position: relative;
}


#contact-cards:before {
    content: '';
    position: absolute;
    height: 360px;
    width: 480px;
    background: var(--light);
    top: -700px;
    left: -50px;
    z-index: 1;
}

#contact-cards:after {
    content: '';
    position: absolute;
    background: var(--light);
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -910px) rotate(-45deg);
        -ms-transform: translate(-50%, -910px) rotate(-45deg);
            transform: translate(-50%, -910px) rotate(-45deg);
}

/* Boxes */
.diamond {
    position: relative;
    height: 270px;
    width: 270px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -240px) rotate(-45deg);
        -ms-transform: translate(-50%, -240px) rotate(-45deg);
            transform: translate(-50%, -240px) rotate(-45deg);
}

.diamond:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -1010px) rotate(90deg);
        -ms-transform: translate(-50%, -1010px) rotate(90deg);
            transform: translate(-50%, -1010px) rotate(90deg);
    height: 1600px;
    width: 400px;
    background: var(--primary);
}

.diamond:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-455px, 10px) rotate(-90deg);
        -ms-transform: translate(-455px, 10px) rotate(-90deg);
            transform: translate(-455px, 10px) rotate(-90deg);
    width: 1600px;
    height: 400px;
    background: var(--primary);
}

.diamond-piece {
    position: absolute;
    height: 130px;
    width: 130px;
    background: rgba(219, 177, 59, .35);
}

.diamond-piece h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    color: #989898;
    font-size: 12px;
    width: 85px;
}

.diamond-piece:nth-child(1) {
    top: 0;
    left: 0;
}

.diamond-piece:nth-child(2) {
    top: 0;
    right: 0;
    background: transparent;
}

.diamond-piece:nth-child(2) h4 {
    font-size: 17px;
    width: 102px;
    font-weight: 700;
}

.diamond-piece:nth-child(2) h4:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -14px;
    background: rgba(219, 177, 59, .35);
}

.diamond-piece:nth-child(3) {
    bottom: 0;
    left: 0;
}

.diamond-piece:nth-child(4) {
    bottom: 0;
    right: 0;
}

/* appointment */
.contact-card {
    position: absolute;
    width: 90%;
    height: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #fff;
    bottom: -55px;
    z-index: 10000;
}

.contact-card img {
    position: absolute;
    width: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -80px;
}

.contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: var(--primary);
}

.contact-content a {
    font-weight: 800;
    letter-spacing: 0.42px;
}

.contact-content .golden-line {
    height: 2px;
    width: 56px;
    background: var(--secondary);
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* Step 1 Mobile Landscape */
@media screen and (min-width: 540px) and (max-width: 767px) {

    /*-- -------------------------- -->
    <---          Landing           -->
    <--- -------------------------- -*/

    #landing {
        min-height: 600px;
        height: 610px;
        position: relative;
    }
    
    .landing-right {
        position: absolute;
        top: 60px;
        right:20px;
    }

    .landing-right:after {
        width: 300%;
        bottom: -3320px;
        left: -90px;
    }

    .card {
        display: inline-block;
        float: left;
        width: 28%;
        margin: 0 13px;
    }

    .card h3 {
        width: 100%;
    }

    .card-container {
        max-width: 627px;
        height: 300px;
        -webkit-transform: translateY(190px);
            -ms-transform: translateY(190px);
                transform: translateY(190px);
    }

    /*-- -------------------------- -->
    <---       Mental Health        -->
    <--- -------------------------- -*/

    .mental-health-button {
        margin-top: 40px;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    /*-- -------------------------- -->
    <---          Struggles         -->
    <--- -------------------------- -*/

    #struggles:before {
        height: 500px;
        width: 500px;
    }

    /*-- -------------------------- -->
    <---     Vicoria Highlight      -->
    <--- -------------------------- -*/

    #victoria-highlight .container {
        max-width: 430px;
        position: relative;
    }

    .victoria {
        -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
                transform: translateX(60px);
    }

    .quote {
        right: 0px;
        top: 130px;
    }

    /*-- -------------------------- -->
    <---       Contact Cards        -->
    <--- -------------------------- -*/

    #contact-cards:after {
        width: 600px;
        height: 600px;
        left: 50%;
        -webkit-transform: translate(-50%, -1160px) rotate(-45deg);
            -ms-transform: translate(-50%, -1160px) rotate(-45deg);
                transform: translate(-50%, -1160px) rotate(-45deg);
    }

}

/* Large Screen Landscape */
@media screen and (min-width: 570px) {

    .crazy-topper h2 {
        position: relative;
        width: 300px;
        margin: auto;
    }

    .crazy-topper h2:before {
        content: '';
        position: absolute;
        width: 200px;
        height: 300px;
        background: var(--primary);
        top: 19px;
        left: -300px;
    }

    .crazy-topper h2:after {
        content: '';
        position: absolute;
        width: 200px;
        height: 300px;
        background: var(--primary);
        top: 1px;
        right: -300px;
    }

    .first-ul li {
        font-size: 11px !important;
    }
}

/* Large Screen Landscape 736px */
@media screen and (min-width: 570px) {

    .landing-left {
        margin-left: 70px;
    }

    .landing-right {
        right: 70px;
    }

    .landing-right:after {
        left: -40px;
    }
}

/* Step 2 */
@media screen and (min-width: 768px) and (max-width: 991px) {

    
}

/* Step 3 */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    
}

/* Step 4 */
@media screen and (min-width: 1200px) {

    

}

/* Step 5 */
@media screen and (min-width: 1400px) {

    
}